<div class="main">
  <!-- Navbar component -->
  <app-navbar></app-navbar>

  <!-- User profile section -->
  <div class="user-profile">
    <h1>User Profile</h1>

    <!-- User information display section -->
    <div class="user-container">
      <h2>User Info</h2>

      <!-- Display user's name -->
      <div class="user-info-display">
        <label>Name: </label>
        <span>{{ userData.userName }}</span>
      </div>

      <!-- Display user's birthday -->
      <div class="user-info-display">
        <label>Birthday: </label>
        <span>{{ userData.birthday | date: "longDate" }}</span>
      </div>

      <!-- Display user's password -->
      <div class="user-info-password">
        <label>Password: </label>
        <span>{{ userData.password }}</span>
      </div>

      <!-- Display user's email -->
      <div class="user-info-display">
        <label>Email: </label>
        <span>{{ userData.email }}</span>
      </div>

      <!-- User information update form -->
      <div class="update-user-info">
        <h2>Update User Info</h2>
        <form (ngSubmit)="updateUser()" class="example-form">
          <!-- Input field for user's name -->
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              shouldLabelFloat="true"
              matInput
              type="text"
              [(ngModel)]="userData.userName"
              name="name"
              placeholder="Name"
            />
          </mat-form-field>

          <!-- Input field for user's birthday -->
          <mat-form-field class="example-full-width">
            <mat-label>Birthday</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="userData.birthday"
              name="birthday"
              placeholder="Birthday"
            />
          </mat-form-field>
          <!-- Input to update user's password -->
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="userData.password"
              name="password"
              placeholder="Password"
            />
          </mat-form-field>

          <!-- Input field for user's email -->
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              [(ngModel)]="userData.email"
              name="email"
              placeholder="Email"
            />
          </mat-form-field>

          <!-- Update and Delete User buttons -->
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="updateUser()">
              Update
            </button>
            <button mat-raised-button color="warn" (click)="deleteUser()">
              Delete User
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Add space between user info and favorite movies -->
    <div class="spacer"></div>
    <!-- Favorite movies section -->
    <div class="content">
      <h2>Favorite Movies</h2>

      <!-- Favorite Movies -->
      <mat-card-title>Favorite Movies</mat-card-title>
      <div style="display: flex">
        <mat-card
          *ngFor="let movie of this.favoriteMovies"
          style="width: 280px; margin-right: 10px"
        >
          <mat-card-header>
            <mat-card-title>{{ movie.title }}</mat-card-title>
            <mat-card-subtitle
              >Directed by: {{ movie.director.name }}</mat-card-subtitle
            >
          </mat-card-header>
          <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" />
          <mat-card-actions>
            <button
              mat-raised-button
              (click)="deleteFavMovie(movie._id)"
              color="primary"
              style="margin-right: 10px"
            >
              Remove from favorite
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
